.footer-wrapper {
    width: 100%;
    border-top: 1px solid map-get($colors, border-footer-color);
}
.footer{
    padding-top: 19px;
    padding-bottom: 18px;
}
.copiright{
    font-weight: 400;
    font-size: $last-one-fs;
    color: map-get($colors, thridly-color);
}
.copiright-logo{
    font-weight: 700;
    font-size: $last-one-fs;
    color: map-get($colors, thridly-color);
    text-decoration: none;
}