.site-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 43px 0px;
  @media (min-width: 768px) {
    padding: 15px 0px 43px 0px;
    flex-direction: row;
    align-items: center;
  }
  &__input {
    width: 320px;
    height: 40px;
    padding-left: 48px;
    padding-right: 30px;
    border: none;
    background-color: map-get($colors, last-one-color);
    border-radius: 5px;
    @media (min-width: 768px) {
      height: 30px;
    }
  }
  &__logo {
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    @media (min-width: 768px) {
      flex-basis: 35%;
      font-size: $secondary-fs;
      margin-bottom: 0;
    }
  }
  &__categories {
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      margin-bottom: 0;
      text-transform: none;
    }
  }
  &__img {
    position: absolute;
    top: 12px;
    left: 20px;
    @media (min-width: 768px) {
      top: 8px;
    }
  }
  &__trending {
    text-transform: uppercase;
    position: relative;
    @media (min-width: 768px) {
      text-transform: none;
    }
  }
  &__link {
    padding-bottom: 15px;
  }
}

.site-navigation-aside {
  @media (min-width: 768px) {
    @include display(flex, start, center);
    flex-basis: 60%;
  }
}

.site-navigation-menu {
  flex-basis: 85%;
  display: flex;
  transition: 0.3s all;
  flex-direction: column;
  align-items: center;
  font-size: 0;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
  }
  @media (min-width: 1140px) {
    justify-content: space-around;
    padding-left: 0;
  }
}

.burger-checkbox[type='checkbox']:checked ~ .site-navigation-menu {
  font-size: 18px;
  @media (min-width: 768px) {
    font-size: $primary-fs;
  }
}

.link {
  @extend %link-style;
}

.site-navigation__input::placeholder {
  color: map-get($colors, thridly-color);
  font-size: 16px;
  @media (min-width: 768px) {
    font-size: $primary-fs;
  }
}

.site-navigation__categories:hover > .dropdown-menu {
  display: block;
  background-color: rgba(#f2f2f2, 1);
  @media (min-width: 768px) {
    background-color: map-get($colors, white-color);
  }
}

.site-navigation-form {
  position: relative;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.site-navigation__trending::before {
  content: url('/img/icons/lightning.svg');
  position: absolute;
  top: -5px;
  left: -20px;
  visibility: hidden;
}

.burger-checkbox[type='checkbox']:checked
  ~ .site-navigation-menu
  > .site-navigation__trending:before {
  visibility: visible;
}

.site-navigation__link:hover,
.dropdown-menu__link:hover {
  color: map-get($colors, link-color);
}

.dropdown-menu {
  text-align: center;
  font-size: 16px;
  min-width: 100vw;
  position: absolute;
  left: 50%;
  top: 30px;
  padding: 15px 30px 15px;
  box-shadow: 0px 0px 4px #bdbdbd;
  border-radius: 5px;
  transform: translateX(-50%);
  display: none;
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
  @media (min-width: 768px) {
    text-align: unset;
    min-width: 230px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 115px;
    font-size: $primary-fs;
  }
  &__item {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 100%;
    }
  }
  &__list {
    line-height: 25px;
    border-bottom: 1px solid;
    margin-right: 30px;
    @media (min-width: 768px) {
      border: none;
      line-height: 20px;
    }
  }
}

.dropdown-menu__list:nth-last-child(-n + 4) {
  margin-right: 0;
}
.dropdown-menu__list:nth-last-child(-n + 1) {
  border: none;
}

.dropdown-menu:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 50%;
  transform: rotate(45deg);
  width: 7px;
  height: 7px;
  box-shadow: -1px -1px 1px #bdbdbd;
  background-color: rgba(#f2f2f2, 1);
  @media (min-width: 768px) {
    background-color: map-get($colors, white-color);
  }
}

.search-string {
  position: relative;
  &__img {
    position: absolute;
    top: 8px;
    right: 8px;
  } .is-hidden {
    display: none;
  }
}
.totalWords{
  height: 30px;
    background-color: #F2F2F2;
    line-height: 32px;
    padding: 0px 8px;
    border-radius: 3px;
    margin-left: 5px;
    min-width: 92px;
}
