.article-img{
    max-width: 100%;
    margin-bottom: 61px;
}
.article-content{
    max-width: 768px;
    margin:auto;
}
.article-header h2{
    font-size: 45px;
    color:#2D3748;
    margin-bottom: 19px;
}
