// font family

$primary-font: 'Inter', sans-serif;

// color

$colors: (
  primary-color: #718096,
  secondary-color: #2d3748,
  thridly-color: #000000,
  last-one-color: #f2f2f2,
  link-color: #2f80ed,
  border-footer-color: #E8E8E8,
  border-color: #E5E5E5,
);

// font-size

$primary-fs: 14px;
$secondary-fs: 20px;
$thirdly-fs: 12px;
$last-one-fs: 16px;

// line-height

// bck-gradient

// font-wieght
