*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font;
  font-size: $primary-fs;
  line-height: 17px;
  color: map-get($colors, primary-color);
  
}

li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.container {
  width: 320px;
  margin: 0 auto;
  @media (min-width: 768px) {
    width: 740px;
  }
  @media (min-width: 1140px) {
    width: 1020px;
  }
}
