.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    flex-basis: 40%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  z-index: 1;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    width: 30px;
    height: 30px;
    margin-bottom: 0;
  }
  &__item {
    position: absolute;
    height: 2px;
    width: 50px;
    background: map-get($colors, thridly-color);
    @media (min-width: 768px) {
      width: 18px;
    }
  }
}

input[type='checkbox'] {
  display: none;
}
input[type='checkbox']:checked {
  & + .burger {
    .first {
      transform: rotate(45deg);
    }
    .second {
      transform: rotate(-45deg);
    }

    .second::after {
      display: none;
    }
    .first::before {
      display: none;
    }
  }
}

.second::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 50px;
  top: 7px;
  background: #000;
  @media (min-width: 768px) {
    width: 18px;
  }
}

.first::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 50px;
  bottom: 7px;
  background: #000;
  @media (min-width: 768px) {
    width: 18px;
  }
}
