.articles {
  display: flex;
  flex-direction: column;
  height: 420px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
  overflow: hidden;
}

.card-img {
  height: 179px;
  margin-bottom: 18px;
}

.card-content {
  display: flex;
  flex-direction: column;
  max-height: 180px;
  padding-left: 16px;
  max-width: 280px;
}

.card-header {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: $secondary-fs;
  line-height: 24px;
  color: #2d3748;
}

.card-text {
  max-height: 35px;
  font-weight: $secondary-fw;
  font-size: $primary-fs;
  line-height: 17px;
  color: map-get($colors, primary-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-time {
  align-items: center;
  margin: 0 auto;
  width: 280px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.card-time p {
  font-weight: $secondary-fw;
  font-size: $thirdly-fs;
  line-height: 14px;
  color: #718096;
}

.card-time a {
  font-weight: $bold-fw;
  font-size: $thirdly-fs;
  line-height: 1px;
  color: map-get($colors, article-author);
  text-decoration: none;
}

.card-position {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
