<li class="link-gaps">
  <article class="articles">
    <img src="/static/News-1.png" alt="articles-news-img" class="card-img" height="179" />
  <div class="card-position">
        <div class="card-content">
      {{!-- <h3 class="card-header">{{title}}</h3> --}}
      <p class="card-text">
       No exact matches found
      </p>
    </div> 
