<li class="primary-card link-gaps">
  <article class="primary-articles">
    {{!-- <img
      width="458"
      src="/static/img/news.jpg"
      alt="articles-news-img"
      class="primary-card__img"
    /> --}}
    <div class="primary-card__content">
      <h3 class="primary-card__header">No exact matches found</h3>
    </div>
  </article>
</li>

