<header class="page-header">
  <nav class="site-navigation">
    <div class="site-navigation-aside">
      <h2 class="site-navigation__logo">
        <a href="#newsapp" class="site-navigation__item link js-logo-open">News App</a>
      </h2>
      <form class="site-navigation-form search-form-js">
        <label class="search-string-checked" for="checked">
          <img class="site-navigation__img search-btn" src="/img/icons/search.svg" alt="" />
        </label>
        <input
          class="site-navigation__input js-input"
          type="text"
          name="searchQuery"
          value=""
          placeholder="Type something to start search"
        />
        <input class="search-string" type="checkbox" id="checked"/>
        
        <label class="search-string-checked" for="checked">
          <img
            class="search-string__img js-clear-input is-hidden"
            src="/static/img/icons/checked.svg"
            alt=""
            type="reset"
          />
        </label>
        <!-- <button type="submit" class="btn-submit"></button> -->
      </form>
      <input type="text" class="js-content-input is-hidden" placeholder="enter a search term" />
    </div>
    <div class="burger-menu">
      <input class="burger-checkbox" type="checkbox" id="burger" />
      <label for="burger" class="burger">
        <span class="burger__item first"></span>
        <span class="burger__item second"></span>
      </label>
      <ul class="site-navigation-menu">
        <li class="site-navigation__categories">
          <a href="" class="site-navigation__link link">Categories </a>
          <div class="dropdown-menu">
            <ul class="dropdown-menu__item js-dropdown-menu__item">
              <li class="dropdown-menu__list">
                <a href="#" class="dropdown-menu__link link" data-value="sports">Sports</a>
              </li>
              <li class="dropdown-menu__list">
                <a href="#" class="dropdown-menu__link link" data-value="health">Health</a>
              </li>
              <li class="dropdown-menu__list">  
                <a href="#" class="dropdown-menu__link link" data-value="general">General</a>
              </li>
              <li class="dropdown-menu__list">
                <a href="#" class="dropdown-menu__link link" data-value="business">Business</a>
              </li>
              <li class="dropdown-menu__list">
                <a href="#" class="dropdown-menu__link link" data-value="science">Science</a>
              </li>
              <li class="dropdown-menu__list">
                <a href="#" class="dropdown-menu__link link" data-value="technology">Technology</a>
              </li>
              <li class="dropdown-menu__list">
                <a href="#" class="dropdown-menu__link link" data-value="entertainment">Entertainment</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="site-navigation__trending">
          <a href="#" class="site-navigation__link link js-trending-news">
            Trending news
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
