<header class="page-header">
  <nav class="site-navigation">
    <div class="site-navigation-aside">
      <h2 class="site-navigation__logo">
        <a href="#newsapp" class="site-navigation__item link">News App</a>
      </h2>
      <div class="site-navigation-form">
        <img
          class="site-navigation__img"
          src="/static/img/icons/search.svg"
          alt=""
        />
        <input
          class="site-navigation__input"
          type="text"
          name=""
          value=""
          placeholder="Type something to start search"
        />
      </div>
    </div>
    <div class="burger-menu">
      <input type="checkbox" id="burger" />
      <label for="burger" class="burger">
        <span class="burger__item first"></span>
        <span class="burger__item second"></span>
      </label>
      <ul class="site-navigation-menu">
        <li class="site-navigation__categories">
          <a href="" class="site-navigation__link link"> Categories </a>
          <div class="dropdowm-menu">
            <ul class="dropdown-menu__item">
              <li class="dropdown-menu__list">
                <a href="" class="dropdown-menu__link link">Sport</a>
              </li>
              <li class="dropdown-menu__list">
                <a href="" class="dropdown-menu__link link">World</a>
              </li>
              <li class="dropdown-menu__list">
                <a href="" class="dropdown-menu__link link">Covid</a>
              </li>
              <li class="dropdown-menu__list">
                <a href="" class="dropdown-menu__link link">Business</a>
              </li>
              <li class="dropdown-menu__list">
                <a href="" class="dropdown-menu__link link">Politics</a>
              </li>
              <li class="dropdown-menu__list">
                <a href="" class="dropdown-menu__link link">Science</a>
              </li>
              <li class="dropdown-menu__list">
                <a href="" class="dropdown-menu__link link">Religion</a>
              </li>
              <li class="dropdown-menu__list">
                <a href="" class="dropdown-menu__link link">Health</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="site-navigation__trending">
          <a href="" class="site-navigation__link link"> Trending news </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
