<li class="link-gaps">
  <article class="articles">
    <img src="/news-article.png" alt="articles-news-img" class="card-img" />
    <div class="card-content">
      <h3 class="card-header">long established</h3>
      <p class="card-text">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum is that....
      </p>
      <div class="card-time">
        <p>May 20th 2020</p>
        <a href="#">Read more</a>
      </div>
    </div>
  </article>
</li>
