<li class="primary-card link-gaps">
  <article class="primary-articles">
    <img
      src="/static/primary-card.png"
      alt="articles-news-img"
      class="primary-card__img"
    />
    <div class="primary-card__content">
      <h3 class="primary-card__header">long established</h3>
      <p class="primary-card__text">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum is that....
      </p>
      <div class="primary-card__time">
        <p>May 20th 2020</p>
        <a href="#">Read more</a>
      </div>
    </div>
  </article>
</li>
